<section id="social" class="module clearfix">
    <a href="http://twitter.com/reggaemk" target="_blank" class="twitter" title="Twitter">
        <!--<span class="bubble"><strong>Twitter</strong><br /><span id="twitter-followers"></span>&nbsp;Следбеници</span>
        <b class="arrow"></b> -->
    </a>
    <a href="http://www.facebook.com/pages/Reggaemk/207956912575124" target="_blank" class="facebook" title="Facebook">
        <!--<span class="bubble"><strong>Facebook</strong><br /><span id="facebook-likes"></span>&nbsp;Фанови</span>
        <b class="arrow"></b> -->
    </a>
    <a href="http://www.last.fm/group/Reggae.mk" class="lastfm" target="_blank" title="Last.fm">
        <!--<span class="bubble"><strong>Last.fm</strong><br /><span id="lastfm-listeners"></span>&nbsp;Слушатели</span>
        <b class="arrow"></b> -->
    </a>
    <a href="http://flickr.com/photos/reggaemk/" target="_blank" class="flickr" title="Flickr">
        <!--<span class="bubble"><strong>Flickr</strong><br />8&nbsp;Албуми</span>
        <b class="arrow"></b> -->
    </a>
    <a href="http://reggae.mk/rss.php" target="_blank" class="rss" title="RSS канал">
        <!--<span class="bubble"><strong>RSS</strong><br />215&nbsp;Претплатници</span>
        <b class="arrow"></b> -->
    </a>
</section>
