<section id="events-module" class="module">
    <h3><a href="/nastani">Следни настани</a></h3>

    <p class="nothing">Нема следни настани.</p>

<!--    <ul class="events-list">-->
<!--        <li>-->
<!--            <a href="/nastan/illbilly-hitec-ft-longfingah-kapan-an">-->
<!--                <h4>iLLBiLLY HiTEC Ft. Longfingah @ Капан Ан</h4>-->
<!--                <p class="location">Капан Ан, Скопје</p>-->
<!--                <time datetime="2012-03-10">10 Март 2012</time>-->
<!--            </a>-->
<!--        </li>-->
<!--    </ul>-->

</section>
